<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
<appSettings>
  <add key="origen" value="C:\Users\jgarcia\Documents\mocoa\origen\"/>
  <add key="destino" value="C:\Users\jgarcia\Documents\mocoa\destino\"/>
</appSettings>
 <connectionStrings>
    <add connectionString="Server=DESKTOP-7GAPBH9\SQLEXPRESS;Database=preubas;Trusted_Connection=True;" name="local" />
  </connectionStrings>
</configuration>